<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About Page</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <style>@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');</style>
    <style>@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');</style>
  </head>
  <body>
    <nav id="nav-bar">
      <ul>
        <li><a href="/" >Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
      </ul>
    </nav>

    <h2>Mr. Bean</h2>

    <div id="image">
      <img src="/images/Mr_Bean.png" alt="Image of Mr Bean Character">
    </div>

    <div id="about">
      <p>First Aired: January 1, 1990 </p>
      <p>Earliest Appearance: "Just for Laughs" Comedy Festival - 1987 Montreal, QC</p>
      
      <p>Played By: Rowan Atkinson</p>
      <p>Name: "Bean"</p>
      <p>Profession: Childish buffoon</p>

    </div>

    <div id="resource-link">
      <a href="https://mrbean.fandom.com/wiki/Mr._Bean_Wiki" target="_blank"><i>Info courtesy of Fandom.com</i></a>
    </div>
  </body>
</html>